body
{
  background: url(../images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.error
{
  text-align: center;
  font-family: monospace;
  font-weight: bolder;
  font-size: 15px;
  margin-top: 10px;
}
.empty
{
  color: blue;
}
.wrong
{
  color: red;
}
.navbar-position
{
  margin-top: 1em;
}
.navbar
{
  background: none;
}
.search-form
{
  border-radius: 30px 0px 0px 30px;
}
.form-control
{
  border: 1px solid #5bc0de;
}
.search-btn
{
  border-radius: 0px 30px 30px 0px;
  cursor:pointer;
  background-color: #428bca;
}
.fa-search
{
  color: #fff;
}
#myname
{
  font-size:30px;
  font-weight: bolder;
  color:	#2F4F4F;
  margin-top:2px;
  font-family: cursive;
  font-stretch: semi-expanded;
}
.zoom_img_me img:hover
{
    transform: scale(1.1);
}
.attribute
{
  height:45px;
  width: 15em;
  margin-top: 25px;
  border-radius: 15px;
  background-color :#DCDCDC;
  color:black;
  font-size: 20px;
  border: 3px solid #808080;
  text-align: center;
}
input.placeholder
{
  text-align: center;
}
.table-heading
{
  font-weight:bold;
  font-size:18px;
  color:#808080;
}
td
{
  padding:0 20px 0 20px;

}
.statistics-parameters
{
  font-weight: bold;
  color : sienna;
  font-size: 15px;
}
.statistics-values
{
  font-style: italic;
  font-weight: bold;
  font-size: 15px;
}
hr
{
  margin-left:10px;
  border-radius:15px;
  height: 12px;
}
.speed
{
  background-color: blue;
}
.special-defense
{
  background-color: green;
}
.special-attack
{
  background-color: red;
}
.defense
{
  background-color: teal;
}
.attack
{
  background-color: #B8860B;
}
.hp
{
  background-color: #8B008B;
}
.attribute + .tooltip > .tooltip-inner
{
  background-color: #000;
  color: #fff;
  font-style: italic;
  font-weight: bold;
  font-family: monospace;
  border: 1px solid #000;
  border-radius: 10px;
  display: inline-block;
  font-size: 13px;
}
.stat-tooltip + .tooltip > .tooltip-inner
{
  font-style: italic;
  font-weight: bold;
  font-family: monospace;
  border-radius: 8px;
  display: inline-block;
  font-size: 11px;
  height : 22px;
}
.speed + .tooltip > .tooltip-inner
{
  background-color: blue;
  color: #fff;
  border: 1px solid blue;
}
.speed + .tooltip > .tooltip-arrow
{
  border-top-color: blue;
}
.special-defense + .tooltip > .tooltip-inner
{
  background-color: green;
  color: #fff;
  border: 1px solid green;
}
.special-defense + .tooltip > .tooltip-arrow
{
  border-top-color: green;
}
.special-attack + .tooltip > .tooltip-inner
{
  background-color: red;
  color: #fff;
  border: 1px solid red;
}
.special-attack + .tooltip > .tooltip-arrow
{
  border-top-color: red;
}
.defense + .tooltip > .tooltip-inner
{
  background-color: teal;
  color: #fff;
  border: 1px solid teal;
}
.defense + .tooltip > .tooltip-arrow
{
  border-top-color: teal;
}
.attack + .tooltip > .tooltip-inner
{
  background-color: #B8860B;
  color: #fff;
  border: 1px solid #B8860B;
}
.attack + .tooltip > .tooltip-arrow
{
  border-top-color: #B8860B;
}
.hp + .tooltip > .tooltip-inner
{
  background-color: #8B008B;
  color: #fff;
  border: 1px solid #8B008B;
}
.hp + .tooltip > .tooltip-arrow
{
  border-top-color: #8B008B;
}
.download-link
{
  margin-bottom: 10px;
}
.download-title
{
  font-family: cursive;
  font-weight: bolder;
  color:#918151;
  font-size: 20px;
}
.pokemon-list
{
    font-weight:800;
    color:#c0c0c0;
    margin-left: 0px;
}
.pokemon-list:hover
{
    color:#c0c0c0;
}
