<!DOCTYPE html>
<html>
    <div class="container-fluid">
       <div class="col-xs-12 text-center">
           <br>
           <div class="download-link">
               <p class="download-title">Download Pokémon List</p>
               <a href="{{url_for('download')}}">
                   <button class="btn pokemon-list btn-primary btn-lg download_pokemon" type="submit" name="submit">
                       <i class="fa fa-download"></i>&nbsp;<span class="pokemon-list">DOWNLOAD</span>
                   </button>
               </a>
          </div>
       </div>
    </div>
</html>
